body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
  }
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    height: 750px;
}    
.top-ball{

    
    
    font-family: "Merriweather", serif;
    position: absolute;
    right: 200px;
    top: 20px;
    height: 100px;
    width: 120px;
}
h1{
    text-align: center;
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 90px auto 0 auto;
    font-family: "Sacramento", cursive;
}
h2 {
  color: #66bfbf;
  text-align: center;
  font-family: "Roboto Mono", cursive;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.bottom-ball{
    position: absolute;
    left: 200px;
    bottom: 290px;
    height: 100px;
    width: 120px;

}
.Old-Trafford{
    position: absolute;
    left: 340px;
    top:550px;
    height: 300px;
    width: 590px;
    border-radius: 25px;
}

.profile{
    position: absolute;
    left: 500px;
    top:900px;
    height: 300px;
    width: 290px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
h3{
    position: absolute;
    left: 570px;
    top:1170px;
    color: #66bfbf;
    text-align: center;
    font-family: "Roboto Mono ", cursive;
    font-size: 2.5rem;
    font-weight: normal;
    

}
.intro {
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 30%;
    top: 1290px;
    left: 450px;
    font-size: 1.4rem;

  }
  
.code-img{
    position: absolute;
    width: 80%;
    height: 155%;
    float: left;
    right: 250px;
    top: 190px;;
    border: 3px solid #000000;
  }
.skills{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 30%;
    top: 1490px;
    left: 450px;


  }
h4{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top: 160px;
    left: 130px;
    font-size: 1.3rem;
}
.pp{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top:210px;
    left:130px;
}
.camera{
    position: absolute;
    width: 80%;
    height: 155%;
    float: left;
    right: 250px;
    top: 500px;;
    border: 3px solid #000000;
}    
h5{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top: 470px;
    left: 130px;
    font-size: 1.3rem;

}
.VE{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top:530px;
    left:130px;

}
.football{
    position: absolute;
    width: 80%;
    height: 155%;
    float: left;
    right: 250px;
    top: 810px;;
    border: 3px solid #000000;
}
h6{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top: 760px;
    left: 130px;
    font-size: 1.3rem;

}
.FT{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top:840px;
    left:130px;

}

.GT{
    color: #66bfbf;
    position: absolute;
    text-align: center;
    font-family: "Roboto Mono", serif;
    line-height: 2;
    width: 100%;
    font-size: 40px;
    top:1240px;
    left:20px;
}
.FF{
    color: #40514e;
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    width: 100%;
    top: 1370px;
    left: 30px;
    font-size: 1.2rem;

}
.btn{
    position: absolute;
    text-align: center;
    margin: 10px 20px;
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    border-color: #000000;
    color: #ffffff;
    width: 40%;
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    top:1460px;
    left: 110px;
    text-decoration: none;
}
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.bottom-container {
    background-color: #66bfbf;
    margin: 0px ;
    position: relative;
    top: 2300px;
    height: 150px;
}
.copyright{
    position: absolute;
    text-align: center;
    font-family: "Merriweather", serif;
    line-height: 2;
    color: #ffffff;
    font-size: 1.45rem;
    
    top: 70px;
    left: 580px;
}